version: '3'
services:

  app:
    restart: always
    build:
      context: .
    ports:
      - "5000:5000"
    container_name: app
    volumes:
      - ./distilbert-base-uncased:/app/distilbert-base-uncased
